@{
    ViewBag.Title = "Messages" + ViewBag.Message;
}
@model WebApp.Models.MessageListSummary

<div>
    Messages: @Model.Total
</div>
<table>
    <thead>
        <tr>
            <th>From</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var messageSummary in Model.MessageSummaries)
        {
            <tr>
                <td>
                    <div class="container">
                        <div class="content">@messageSummary.From</div>
                        <div class="spacer">@messageSummary.From</div>
                        <span>&nbsp;</span>
                    </div>
                </td>
                <td class="@(messageSummary.Read ? "seen": "not-seen" )">
                    <a href="#">
                        <div class="container">
                            <div class="content">@messageSummary.Title</div>
                            <div class="spacer">@messageSummary.Title</div>
                            <span>&nbsp;</span>
                        </div>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>