@{
    ViewBag.Title = "Sign In";
}
@model WebApp.Models.User
@section Scripts
{
    <script>
        function setFocusToTextBox() {
            var emailTextBox = document.getElementById("email");
            var passwordTextBox = document.getElementById("password");
            if (IsEmailAddress(emailTextBox.value)) {
                passwordTextBox.focus();
            } else {
                emailTextBox.focus();
            }   
        }

        function IsEmailAddress(strEmailAddress) {
            // Note: The next expression must be all on one line...
            var emailRegex = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var goodEmail = strEmailAddress.match(emailRegex);
            if (goodEmail) {
                return true;
            }
            else {
                return false;
            }
        }

        function keypressHandler(e) {
            if (e.which == 13) {
                e.preventDefault(); //stops default action: submitting form
                event.target.blur();
                var submitButton = document.getElementById("submit");
                submitButton.focus();
                submitButton.click();
            }
        }

        setFocusToTextBox();
    </script>
}

@using (Html.BeginForm("SignIn", "Home", FormMethod.Post, new { onkeypress = "keypressHandler(event);" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Sign In</legend>
        <div>
            @Html.LabelFor(model => model.Email)
        </div>
        <div>
            @Html.TextBoxFor(model => model.Email, new { id = "email" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Email) &nbsp;
        </div>
        <div>
            @Html.LabelFor(model => model.Password)
        </div>
        <div>
            @Html.TextBoxFor(model => model.Password, new { id = "password" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Password) &nbsp;
        </div>
        <p>
            <input type="submit" value="Sign In" id="submit" />
        </p>
    </fieldset>
}
