<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mail</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Sign In", "SignIn", "Home")</li>
        <li>@Html.ActionLink("Messages", "MessageList", "Home")</li>
    </ul>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
